[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "external/reflect"]
	path = external/reflect
	url = https://github.com/qlibs/reflect.git
